.naming-sect{
    font-family: 'Alfa Slab One', cursive;
    vertical-align: auto;
    border: 2px dodgerblue;
    text-shadow: 2px 2px 15px dodgerblue;

    
}
.naming-sect:hover{
    text-shadow: 2px 2px 10px dodgerblue;
    

}


.navbar{
    font-family: 'Archivo Black', sans-serif;
    text-shadow: 2px 2px 5px white;
    
    
}
body{
    background-color: black;
    color: white;
    min-height: 100vh;
}
nav{
    background-color: red;
}
.first-card,
.second-card,
.third-card
{
    color: black;
    font-size: 30px;
    text-shadow: 2px 2px 15px dodgerblue;
    -webkit-text-stroke-width: .5px;
    -webkit-text-stroke-color: dodgerblue
}